{% extends "base.html" %}
{& load staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>

<meta name="viewport" content="width=device-width, initial-scale=1">

{% block title %} Create Post
{% endblock %}

	{% block content %}

<h1> Type in what you would like answered </h1>
<p> Use the following form to create a post: </p>

<form method="POST" action='.'>
    {{ form.as_p }}
    {% csrf_token %}

    <input type ="submit" value="Create my account">


</form>

	{% endblock %}