<!DOCTYPE html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<html lang="en">
<meta charset="UTF-8">

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static '/static/css/bootstrap.min.css' %}" />

{% block content %}
<link>

    <title>Homepage</title>

        <href rel="stylesheet" type="/css" href="{{ STATIC_URL }}css/style.css"</href>

        <div>

            <h1>Welcome</h1>

        </div

       <div>
           <p1> Welcome to the Messaging Board! Enjoy your stay and raise any questions </p1>
       </div>

        <div>

            <alignleft>
               <input class="btn btn-success btn-sm" type="submit" value="login" />
           </alignleft>

        </div>




</head>
<body>
</body>
{% endblock %}
</html>